<!DOCTYPE html>
<html>
<head>
  <title>DemoJquery</title>
  <%= stylesheet_link_tag 'application' %>
  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery_ujs', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%#= link_to 'Article', articles_path %> 
<%#= link_to 'Post', article_posts_path %>
<%= yield %>

<div id="footer" style="margin-top: 200px; height: 100px; text-align: center;">
  <span style="text-align: center;"> contact to kevin@vinova.sg </span>
</div>
</body>
</html>
